################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstApplicationForGithub/FirstApplicationForGithub/bin/Debug/netcoreapp3.1
